@import'./config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem.calc.scss';


//largura da pagina 
html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}
main{
    width: rem-calc(700);
    margin: 0 auto;
    box-sizing: border-box;
}